.main {
  height: 1rem;
  width: 2rem; /* units-transform */
  font-size: 0.28rem;
}

.main1 {
  height: 1rem;
  width: 2rem;
  font-size: 0.32rem;
}

.main2 {
  height: 1rem;
  width: 2rem; /* units-transform */
  font-size: 0.36rem;
}
